<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
    <div class="row">
        <p>Hostname: {{ hostname }}</p>
        <p>message Url: {{getMessageUrl}}</p>
        <p>url: {{url}}</p>
        <p>Item id: {{itemId}}</p>
        <p>accessToken: {{accessToken}}</p>
        <p>messages : {{messages}}</p>
        <p>emails: {{emails}}</p>
        <p>restId: {{restId}}</p>
        <p>status: {{status}}</p>
        <p>error: {{error}}</p>
    </div>
</div>

<button (click)="onSub()">GetAttachment</button>
<app-dates></app-dates>
<router-outlet></router-outlet>
